<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p th:replace="homePage :: header"></p>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Information : </h4>
                    <div>
                        <table>
                            <tr>
                                <td>Employee Name: </td>
                                <td th:text="${employee.employeeName}"></td>
                            </tr>
                            <tr>
                                <td>Birthday:</td>
                                <td th:text="${employee.employeeBirthday}"></td>
                            </tr>
                            <tr>
                                <td>Id Card:</td>
                                <td th:text="${employee.employeeIdCard}"></td>
                            </tr>
                            <tr>
                                <td>Salary:</td>
                                <td th:text="${employee.employeeSalary}"></td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td th:text="${employee.employeePhone}"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td th:text="${employee.employeeEmail}"></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td th:text="${employee.employeeAddress}"></td>
                            </tr>
                            <tr>
                                <td>Position:</td>
                                <td th:text="${employee.position.positionName}"></td>
                            </tr>
                            <tr>
                                <td>EducationDegree:</td>
                                <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                            </tr>
                            <tr>
                                <td>Division:</td>
                                <td th:text="${employee.division.divisionName}"></td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <p class="mb-0">
                      <a href="/employee"><button type="button" class="btn btn-warning m-2">Back to List Employee</button></a>
                    </p>
                </div>
        </div>
    </div>
</div>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>