<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
</head>
<body>
<table border="1px solid">
    <td style="width: 30%">
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="${product.image}" width="400px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="text-align: center">
                            <h4>Mã sản phẩm</h4>
                            <h5 class="card-title" th:text="${product.code}"></h5>
                            <hr>
                            <p>Giá sản phẩm</p>
                            <p class="card-text" th:text="${product.price}"></p>
                            <button type="button" class="btn btn-danger"><a
                                    th:href="@{/add/__${product.id}__(action='list')}">Mua ngay</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td style="width: 70%;text-align: center">
        <p class="card-text" th:text="${product.name}" style="color: red">Tên sản phẩm : </p>
        <hr>
        <p class="card-text" th:text="${product.description}">Mô tả : </p>
    </td>
</table>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</body>
</html>