<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<header th:replace="/layout :: header"></header>
<h3>View Category</h3>
<p>
    <a th:href="@{/category}">
        Back to Category list
    </a>
</p>
<div id="blog">
    <div>
        <label style="color: red">Id:</label>
        <label th:text="${category.id}"></label>
    </div>
    <div>
        <label style="color: red">Name:</label>
        <label th:text="${category.name}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>