<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<header th:replace="homePage :: header"></header>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Please enter the information below !</h4>
                <div>
                    <p>Nhung</p>
                    <!--        <form th:action="@{/create-category}" th:object="${category}" method="post">-->
                    <!--            <table>-->
                    <!--                <tr>-->
                    <!--                    <td>Name:</td>-->
                    <!--                    <td><input type="text" th:field="*{name}"/></td>-->
                    <!--                </tr>-->
                    <!--            </table>-->
                    <!--        </form>-->
                </div>
                <hr>
                <p class="mb-0">
                    <button type="button" class="btn btn-warning m-2">Create</button>
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="bg-light text-center text-dark h-25" th:fragment="footer">
    <div class="text-center p-3" style="background-color: seagreen">
        <p style="color: snow">Thanks you very much ! Best wish for you !</p>
    </div>
</footer>
</body>
</html>