<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<!--<header th:fragment="edit-header">-->
    <p th:replace="homePage :: header"></p>
    <div th:replace="homePage :: nav"></div>
    <div class="container-fluid bg-light border ">
        <div class="row">
            <div class="col-lg-2 border-right">
                <ul th:replace="homePage :: left"></ul>
            </div>
            <div class="col-lg-10 pt-3 pb-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Please enter the information below !</h4>
                    <div>
                    <p>Nhung</p>
                    <!--        <form th:action="@{/edit-category}" th:object="${category}" method="post">-->
                    <!--            <input th:type="hidden" name="id" th:field="*{id}">-->
                    <!--            <table>-->
                    <!--                <tr>-->
                    <!--                    <td>Name:</td>-->
                    <!--                    <td><input type="text" th:field="*{name}"/></td>-->
                    <!--                </tr>-->
                    <!--            </table>-->
                    <!--        </form>-->
<!--                    <div th:fragment="edit-footer">-->
                    </div>
                    <hr>
                    <p class="mb-0">
                        <button type="button" class="btn btn-success m-2">Edit</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="bg-light text-center text-dark h-25" th:fragment="footer">
        <div class="text-center p-3" style="background-color: seagreen">
            <p style="color: snow">Thanks you very much ! Best wish for you !</p>
        </div>
    </p>
<!--</div>-->
</body>
</html>