<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<header th:replace="homePage :: header"></header>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <button type="button" class="btn btn-success m-2">Create</button>
            <div class="table-responsive-lg">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="table-success">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Xích</td>
                        <td>Miêu</td>
                        <td>Tử</td>
                        <td><a>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal" th:onclick="|deleteBlog()|">
                                <!--                                    data-target="#exampleModal" th:onclick="|deleteBlog(${blogs.id})|">-->
                                Delete
                            </button>
                        </td>
                        <td><a>
                            <button type="button" class="btn btn-warning">View</button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<form action="/delete">
    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="id" name="id">
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Modal-->

<!--<a th:href="@{/(page=${blogList.number - 1},search=${searchName})}" th:if="${blogList.hasPrevious()}">Previous</a>-->
<!--<span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>-->
<!--<a th:href="@{/(page=${blogList.number + 1},search=${searchName})}" th:if="${blogList.hasNext()}">Next</a>-->
<footer th:replace="homePage :: footer"></footer>
<script>
    function deleteBlog() {
        document.getElementById('id').value = id;
    }
</script>
</body>
</html>